@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}

.navbar-dark .navbar-brand {
  max-width: 2%;
  max-height: 2%;
}

#logout-button,
#login-button {
  margin-left: auto;
}

// .card-body {
//   display: flex;
//   flex-wrap: wrap;
// }
